* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
/* Navigation bar */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

@media screen and (max-width: 600px) {
    ul.topnav li {float: none;}
}

/* Hero section - banner */

#hero {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80vh; 
    justify-content: center;
    align-items: center;
    background-color: #f47c20; 
    text-align: center;
    padding: 0 1rem;
  }
  
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 100%;
    
  }
  
  .hero-logo {
    width: 100%;
    height: auto;
    max-width: 500px;
  }
  
  .slogan {
    margin-top: 0.5rem; 
    color: rgb(252, 231, 5);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  }
  
  .slogan h3, .slogan h4 {
    margin: 0.4rem 0;
  }

  .slogan h3 {
    font-size: 2rem;
  }
  
  .slogan h4 {
    font-size: 1.2rem;
    
  }
  
  @media screen and (max-width: 768px) {
    #hero {
      height: auto;
      padding: 2rem 1rem;
    }
  
    .hero-logo {
      max-width: 90%;
    }

    .slogan {
        margin-top: 1rem;
    }

    .slogan h3 {
        font-size: 1.4rem;
    }

    .slogan h4 {
        font-size: 1rem;
    }
  }

  /* Projects Section */

  #projects {
    margin: 10px;

}

  /* float columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  .row {
    margin: 0 -5px;
  }
  /* clear floats after columns */
  .row:floats {
    content: "";
    display: table;
    clear: both;
  }
  /* responsive columns */
  @media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
  }

  .card-container {
    background-color: #f47c20;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(246, 76, 4, 0.5);
    padding: 15px;
    text-align: center;
    background-color: #f8e805;
    border-radius: 6px;
    margin-bottom: 20px;
  }

  .subHead {
    text-align: center;
    }

    #features {
        margin: 10px;
    }






